
@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>My Watchlist</h1>
<div class = "container">
    <div class = "col-md-6">
        <table class = "table" id="watchlist"></table>
    </div>
    <div class = "col-md-3">
        <form id="createProgramForm" class="form">
            <h4>Add a new show</h4>
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" class="form-control" id="title" />
            </div>                
            <div class="form-group">
                <label for="season">Season</label>
                <input type="number" class="form-control" id="season" />
            </div>
            <div class="form-group">
                <label for="episode">Episode</label>
                <input type="number" class="form-control" id="episode" />
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
@section Scripts {
    <script>

    $(function() {
        loadData();
        $("#createProgramForm").submit(function(){
            createProgram();
            return false;
        })
    });

    function loadData() {
        $.ajax({
            url:"/api/TVPrograms",
            dataType: 'json',
            contentType: 'application/json',
            method: 'GET'
        }).done(function(responseJSON, status, xhr) {
            buildWatchList(responseJSON);
        }).fail(function(xhr,status,error){
            alert("Oh no! We couldn't find your shows. D:");
        });
    }

    function buildWatchList(TVPrograms) {
        //console.log("running buildwatchlist");
        $("#watchlist").empty();
        $("#watchlist").append('<tr> <th>Show</th> <th>Season</th>  <th>Episode</th> <th>delete</th> </tr>')
        $.each(TVPrograms, function (index, item) {
            $("#watchlist").append(
                '<tr program-id = "' + item.id + '"> <td class = "title-cell">' + item.title 
                    + '</td>'
                    + '<td class = "season-cell"><button class = "btn season-down"> <span class="glyphicon glyphicon-minus"></span> </button>' + item.season 
                    + '<button class = "btn season-up"> <span class="glyphicon glyphicon-plus"></span> </button></td>' 
                    + '</td> <td class = "episode-cell"><button class = "btn episode-down"> <span class="glyphicon glyphicon-minus"></span> </button>' + item.episode
                    + '<button class = "btn episode-up"> <span class="glyphicon glyphicon-plus"></span> </button></td> <td> <button class = "btn btn-danger program-delete"> <span class="glyphicon glyphicon-trash"></span> </button></td>  </tr>'
            )
        });
    }

    $("#watchlist").on('click', 'button.program-delete', function(){
        var id = $(this).parents("tr").attr('program-id');
        console.log(id);
        deleteProgram(id);
        return false;
    })
    $("#watchlist").on('click', 'button.season-up', function(){
        var id = $(this).parent().parent().attr('program-id');
        var title = $(this).parent().prev().text();
        var season = $(this).parent().text();
        var episode = $(this).parent().next().text();
        editProgram(id,title, parseInt(season)+1,parseInt(episode));
        return false;
    });
    $("#watchlist").on('click', 'button.season-down', function(){
        var id = $(this).parent().parent().attr('program-id');
        var title = $(this).parent().prev().text();
        var season = $(this).parent().text();
        var episode = $(this).parent().next().text();
        console.log([id,title,season,episode]);
        editProgram(id,title,parseInt(season)-1,parseInt(episode));
        return false;
    });
    $("#watchlist").on('click', 'button.episode-up', function(){
        var id = $(this).parent().parent().attr('program-id');
        var title = $(this).parent().prev().prev().text();
        var season = $(this).parent().prev().text();
        var episode = $(this).parent().text();
        editProgram(id,title, parseInt(season),parseInt(episode)+1);
        return false;
    });
    $("#watchlist").on('click', 'button.episode-down', function(){
        var id = $(this).parent().parent().attr('program-id');
        var title = $(this).parent().prev().prev().text();
        var season = $(this).parent().prev().text();
        var episode = $(this).parent().text();
        editProgram(id,title, parseInt(season),parseInt(episode)-1);
        return false;
    });

    function createProgram() {
        var requestData = {
            title: $("#title").val(),
            season: $("#season").val(),
            episode: $("#episode").val()
        };
        $.ajax({
            url:"/api/TVPrograms/",
            dataType: 'json',
            contentType: 'application/json',
            method: 'POST',
            data: JSON.stringify(requestData)
        }).done(function(responseJSON, status, xhr) {
            loadData();
            $("#title").val("");
            $("#season").val("");
            $("#episode").val("");
        }).fail(function(xhr,status,error){
            alert("Whoops! We couldn't add your show to the list.");
        });
    };

    function deleteProgram(id) {
        $.ajax({
            url:"/api/TVPrograms/" + id,
            dataType: 'json',
            contentType: 'application/json',
            method: 'DELETE'
        }).done(function(responseJSON, status, xhr){
            loadData();
        }).fail(function(xhr,status,error){
            alert("Show not deleted. Try again.")
        })
    }

    
    function editProgram(id, title, season, episode, callback) {
        var requestData = {
            id: id,
            title: title,
            season: season,
            episode: episode
        };
        $.ajax({
            url: '/api/TVPrograms/' + id,
            dataType: 'json',
            contentType: 'application/json',
            method: 'PUT',
            data: JSON.stringify(requestData)
        }).done(function(responseData, status, xhr) {
            loadData(); // RELOAD THE BOOK DATA
            if (callback) {
                callback();
            }
        }).fail(function(xhr, status, error) {
            alert("There was an error saving your book");
        });
    }

    </script>
}