
@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>My Watchlist</h1>
<div class = "container">
    <div class = "col-md-6">
        <table class = "table" id="watchlist"></table>
    </div>
    <div class = "col-md-3">
        <form id="createProgramForm" class="form">
            <h4>Add a new show</h4>
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" class="form-control" id="title" />
            </div>                
            <div class="form-group">
                <label for="season">Season</label>
                <input type="number" class="form-control" id="season" />
            </div>
            <div class="form-group">
                <label for="episode">Episode</label>
                <input type="number" class="form-control" id="episode" />
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
@section Scripts {
    <script>

    $(function() {
        loadData();
        $("#createProgramForm").submit(function(){
            createProgram();
            return false;
        })
    });

    function loadData() {
        $.ajax({
            url:"/api/TVPrograms",
            dataType: 'json',
            contentType: 'application/json',
            method: 'GET'
        }).done(function(responseJSON, status, xhr) {
            buildWatchList(responseJSON);
        }).fail(function(xhr,status,error){
            alert("Oh no! We couldn't find your shows. D:");
        });
    }

    function buildWatchList(TVPrograms) {
        //console.log("running buildwatchlist");
        $("#watchlist").empty();
        $("#watchlist").append('<tr> <th>Show</th> <th>Season</th> <th>Episode</th> <th> </th> <th> </th> </tr>')
        $.each(TVPrograms, function (index, item) {
            $("#watchlist").append(
                '<tr program-id = "' + item.id + '"> <td>' + item.title 
                    + "</td> <td>" + item.season 
                    + "</td> <td>" + item.episode 
                    + '</td> <td> <button class = "btn btn-danger program-delete"> delete </button> </tr>'
            )
        });
    }

    $("#watchlist").on('click', 'button.program-delete', function(){
        var id = $(this).parents("tr").attr('program-id');
        deleteProgram(id);
        return false;
    })

    function createProgram() {
        var requestData = {
            title: $("#title").val(),
            season: $("#season").val(),
            episode: $("#episode").val()
        };
        $.ajax({
            url:"/api/TVPrograms/",
            dataType: 'json',
            contentType: 'application/json',
            method: 'POST',
            data: JSON.stringify(requestData)
        }).done(function(responseJSON, status, xhr) {
            loadData();
            $("#title").val("");
            $("#season").val("");
            $("#episode").val("");
        }).fail(function(xhr,status,error){
            alert("Whoops! We couldn't add your show to the list.");
        });
    };

    function deleteProgram(id) {
        $.ajax({
            url:"/api/TVPrograms/" + id,
            dataType: 'json',
            contentType: 'application/json',
            method: 'DELETE'
        }).done(function(responseJSON, status, xhr){
            loadData();
        }).fail(function(xhr,status,error){
            alert("Show not deleted. Try again.")
        })
    }
    </script>
}