
@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>My Watchlist</h1>
<div id="App" class = "container">
    <div class = "col-md-6">
       
        <table class = "table" id="watchlist1">
            <tr> <th>Show</th> <th>Season</th>  <th>Episode</th> <th>Delete</th> </tr>
            <tr v-for = "index in items" v-bind:id="index.id">
                <td>{{index.title}}</td> 
                <td>
                    <button class = "btn"v-on:click = "editProgram(index.id, index.title, index.season - 1, index.episode)"> 
                        <span class="glyphicon glyphicon-minus"></span> 
                    </button>{{index.season}}<button class = "btn" v-on:click = "editProgram(index.id, index.title, index.season + 1, index.episode)"> 
                        <span class="glyphicon glyphicon-plus"></span> 
                    </button>
                </td> 
                <td>
                    <button class = "btn" v-on:click = "editProgram(index.id, index.title, index.season, index.episode - 1)"> 
                        <span class="glyphicon glyphicon-minus"></span> 
                    </button>{{index.episode}}<button class = "btn" v-on:click = "editProgram(index.id, index.title, index.season, index.episode + 1)"> 
                        <span class="glyphicon glyphicon-plus"></span> 
                    </button>
                </td> 
                <td><button class = "btn btn-danger" v-on:click = "deleteProgram(index.id)"> 
                    <span class="glyphicon glyphicon-trash"></span>
                </button></td>
                </tr>
        </table>

    </div>
    <div class = "col-md-3">
        <form id="createProgramForm" class="form" v-on:submit.stop.prevent = "createProgram">
            <h4>Add a new show</h4>
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" class="form-control" id="title" />
            </div>                
            <div class="form-group">
                <label for="season">Season</label>
                <input type="number" class="form-control" id="season" />
            </div>
            <div class="form-group">
                <label for="episode">Episode</label>
                <input type="number" class="form-control" id="episode" />
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
@section Scripts {
    <script>

    var ItemsVue = new Vue({
        el: '#App',
        data: {
            items: [],
            createForm: {
                title: '',
                season: 0,
                episode: 0
            },
            editSeasonObject: {
                id: 0,
                title: '',
                season: 0,
                episode: 0,
                direction:''
            },
            editEpisodeObject: {
                id: 0,
                title: '',
                season: 0,
                episode: 0,
                direction:''
            }
        },
        mounted: function () {
            var self = this;
            $.ajax({
                url: '/api/TVPrograms',
                dataType: 'json',
                contentType: 'application/json',
                method: 'GET',
                success: function (data) {
                    self.items = data;
                },
                error: function (error) {
                    console.log(error);
                    alert("Oh no! We couldn't find your shows. D:");
                }
            });
        },
        methods: { 
            getShows: function() {
                var self = this;
                $.ajax({
                    url: '/api/TVPrograms',
                    dataType: 'json',
                    contentType: 'application/json',
                    method: 'GET',
                    success: function (data) {
                        self.items = data;
                    },
                    error: function (error) {
                        console.log(error);
                        alert("Oh no! We couldn't find your shows. D:");
                    }
                });
            },
            createProgram: function () {
                var self = this;
                self.createForm.title = $("#title").val();
                self.createForm.season = $("#season").val();
                self.createForm.episode = $("#episode").val();
                $.ajax({
                    url:"/api/TVPrograms/",
                    dataType: 'json',
                    contentType: 'application/json',
                    method: 'POST',
                    data: JSON.stringify(self.createForm),
                    success: function (data){
                        self.getShows();
                        $("#title").val("");
                        $("#season").val("");
                        $("#episode").val("");
                    },
                    error: function (error) {
                        console.log(error);
                        alert("Whoops! We couldn't add your show to the list.");
                    }
                });
            },
            deleteProgram: function(id) {
                var self = this;
                programID = event.currentTarget.id.substr(4);
                console.log(id);
                $.ajax({
                    url:"/api/TVPrograms/" + id,
                    dataType: 'json',
                    contentType: 'application/json',
                    method: 'DELETE',
                    success: function(data){
                        self.getShows();
                    },
                    error: function(error){
                        alert("Show not deleted. Try again.");
                    }
                });
                
            },
            editProgram: function(id, title, season, episode) {
                var self = this;
                var requestData = {
                    id: id,
                    title: title,
                    season: season,
                    episode: episode
                };
                $.ajax({
                    url: '/api/TVPrograms/' + id,
                    dataType: 'json',
                    contentType: 'application/json',
                    method: 'PUT',
                    data: JSON.stringify(requestData),
                    success: function(data){
                        self.getShows();
                    },
                    error: function(error){
                        alert("The show could not be updated.")
                    }
                });
            },

        }     
    });
    </script>
}